{% extends 'base.html.twig' %}

{% block title %}
	{{ recipe.title }}
{% endblock %}



{% block body %}
  <section class="container-fluid recipe-header">
    <div class="container recipe-header-container">
      <div class="row justify-content-center position-relative">
{{ include('recipe/image.html.twig', { recipe: recipe }) }}


        <img src="{{ asset('images/recipe-image-superposition.svg') }}" alt="Superposition" class="img-fluid recipe-image-superposition">
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <h1 class="mb-0">{{ recipe.title }}</h1>
        </div>
      </div>
      <div class="row mt-2 pb-3">
        <div class="col-auto">
          Temps de préparation : {{ recipe.prepMinutes|duration }}
        </div>
        <div class="col-auto">
          Temps de cuisson : {{ recipe.cookMinutes|duration }}
        </div>
        <div class="col-auto">
          Nombre de personnes : {{ recipe.servings }}
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-12">
          <h3>{{recipe.description |raw}}</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="container recipe-ingredients">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center recipe-ingredients-title">Ingrédients</h2>
      </div>
      <div class="row g-3">
        {% for ingredient in recipe.recipeIngredients %}
          <div class="col-6 col-lg-4 col-xl-3">
            <label for="ingredient-{{ ingredient.id }}" class="d-block card-ingredient" {{ stimulus_controller('recipe_ingredient', { id: ingredient.id }) }}>
              <div class="card border-0" >
                <div class="card-body d-flex flex-column justify-content-between gy-3">
                  <h4 class="card-title mb-3">{{ ingredient.ingredient.name }}</h4>
                  <p class="card-text mb-0">{{ ingredient.formattedQuantity }} {{ ingredient.unit.label }}</p>
                  <input id="ingredient-{{ ingredient.id }}" type="checkbox" class="form-check-input ingredient-checkbox" {{ stimulus_action('recipe_ingredient', 'handleToggle', 'click') }}>
                </div>
              </div>
            </label>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="container recipe-steps">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center recipe-steps-title">Préparation</h2>
      </div>
    </div>
    <div class="row gy-3">
      {% for step in recipe.recipeSteps %}
        <div class="col-12">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="checkbox" value="" id="step-{{ step.id }}">
            <label class="form-check-label d-block ms-4 p-1 rounded" for="step-{{ step.id }}">
              <div class="d-flex flex-column">
                <h4 class="fw-bold">Étape {{ step.position }}</h4>
                <span>{{ step.instruction }}</span>
              </div>
            </label>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
